VITE_APP_API_URL=app_api_url
VITE_APP_ACCESS_TOKEN=app_access_token
VITE_APP_REFRESH_TOKEN=app_refresh_token
VITE_APP_USER=app_user
VITE_APP_API_CLIENT_ID=app_api_client_id
VITE_APP_API_CLIENT_SECRET=app_api_client_secret